@media (min-width: 320px) {
    .menu {
        display: flex;
        height: 88px;
        width: 100%;
        background-color: white;
    }

    .menu__button1 {
        align-self: flex-start;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url("img/burger.svg") no-repeat center;
        margin: 24px 0 24px 16px;
    }

    .menu__logo {
        align-self: flex-start;
        width: 96px;
        height: 50px;
        margin: 18px 0 18px 15px;
    }

    .menu__delimiter2 {
        align-self: flex-start;
        width: 2px;
        height: 32px;
        margin: 28px 20px 28px auto;
    }

    .menu__button5 {
        align-self: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url("img/checkstatus.svg") no-repeat center;
        margin: 24px 8px 24px 0;
    }

    .menu__button6 {
        align-self: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url("img/repair.svg") no-repeat center;
        margin: 24px 16px 24px 0;
    }

    .body {
        width: 100%;
        height: 100%;
        background-color: #F8F8F8;
        margin: 0;
    }

    .header__h1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: 'TT Lakes';
        height: 40px;
    }

    .header__h1::before {
        content: url("img/highlight (1).svg");
        margin-right: 12px;
        margin-left: 0;
    }

    .nav {
        display: flex;
        overflow-x: scroll;
    }

    .nav::-webkit-scrollbar {
        width: 0;
    }
    

    .nav__a2 {
        display: flex;
        font-family: 'TT Lakes';
        width: 288px;
        height: 24px;
        border: 2px solid #B8FFEC;
        background-color: white;
        color: #7E7E82;
        white-space: nowrap;
        text-decoration: none;
        border-radius: 7px;
        margin: 0 16px 0 16px;
        padding: 8px 9px 8px 16px;
    }

    .nav__a3,
    .nav__a4,
    .nav__a5,
    .nav__a6,
    .nav__a7 {
        font-family: 'TT Lakes';
        display: flex;
        width: auto;
        white-space: nowrap;
        color: #7E7E82;
        text-decoration: none;
        margin: 0 auto 0 0;
        padding: 8px 9px 8px 16px;
    }

    .section__p1 {
        font-family: 'TT Lakes';
        display: flex;
        margin: 15px 16px 0 16px;
        width: auto;
        height: auto;

    }

    .section__onwards {
        font-family: 'TT Lakes';
        font-weight: 500;
        display: flex;
        text-decoration: none;
        color: black;
        margin: 16px 172px 0px 24px;
        white-space: nowrap;

    }

    .section__onwards::before {
        content: url("img/icon.svg");
        margin-right: 16px;
        margin-left: 0;
    }

    .img {
        width: 320px;
        height: 176px;
        margin: 16px 0 27px 0;
    }

    .menu__delimiter1,
    .menu__button2,
    .menu__button3,
    .menu__button4,
    .nav__a1,
    .section__p2,
    .section__p3,
    .menu__a1,
    .menu__a2 {
        display: none;
    }
}

@media (min-width: 768px) {
    .menu__delimiter1 {
        display: flex;
        width: 2px;
        height: 32px;
        margin: 28px 20px 28px 20px;
    }

    .menu__logo {
        margin: 18px 0 18px 0;
    }

    .menu__button2 {
        display: flex;
        justify-content: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url("img/call.svg") no-repeat center;
        margin: 24px 16px 24px auto;
    }

    .menu__button3 {
        display: flex;
        justify-content: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url("img/chat.svg") no-repeat center;
        margin: 24px 16px 24px 0;
    }

    .menu__button4 {
        display: flex;
        justify-content: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background: url("img/profile.svg") no-repeat center;
        margin: 24px 16px 24px 0;
    }

    .menu__delimiter2 {
        margin: 28px 20px 28px 0;
    }

    .header__h1::before {
        margin-right: 20px;
        margin-left: 0;
    }

    .nav__a5 {
        display: none;
    }

    .section {
        display: flex;
        flex-direction: row;
    }

    .section__p2 {
        display: flex;
        margin: 24px 16px 0 16px;
        font-family: 'TT Lakes';
    }

    .img {
        width: 320px;
        height: 176px;
        margin: 16px 0 27px 0;
        border-radius: 5px;
    }
}

@media (min-width: 1120px) {
    .header {
        display: flex;
        flex-direction: row-reverse;
    }

    .menu {
        background-color: #F8F8F8;
    }

    .menu__button5 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 42px 0 10px 0;
    }

    .menu__button6 {
        margin: 42px 32px 10px 0;
    }

    .header__h1 {
        white-space: nowrap;
        margin: 42px 0 9px 0;
        display: flex;
        width: auto;
    }

    .header__h1::before {
        content: url("img/highlight (2).svg");
        margin-right: 30px;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow-x: scroll;
        margin-top: 0;
    }

    .nav__a1 {
        display: flex;
        font-family: 'TT Lakes';
        width: auto;
        height: 24px;
        border: 2px solid #B8FFEC;
        background: white;
        color: #7E7E82;
        white-space: nowrap;
        text-decoration: none;
        border-radius: 7px;
        margin: 0 auto 0 32px;
        padding: 8px 21px 7px 22px;
    }

    .nav__a2 {
        border: none;
        background: none;
        display: flex;
        width: auto;
        white-space: nowrap;
        margin: 0 auto 0 0;
    }

    .nav__a5 {
        display: flex;
    }

    .nav__a7 {
        padding: 0 0 0 0;
        margin: 14px auto 19px 54px;
    }

    .menu__a1 {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        font-family: 'TT Lakes';
        width: auto;
        white-space: nowrap;
        color: black;
        text-decoration: none;
        margin: 50px 8px 27px auto;
    }

    .menu__a2 {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        font-family: 'TT Lakes';
        width: auto;
        white-space: nowrap;
        color: black;
        text-decoration: none;
        margin: 50px 9px 27px 32px;
    }

    .section__p3 {
        display: flex;
        margin: 24px 16px 0 16px;
        font-family: 'TT Lakes';
        width: auto;
        height: auto;
    }

    .img {
        width: 531px;
        height: 307px;
        border-radius: 5px;
        margin: auto 28px 49px 36px;
    }

    .menu__logo,
    .menu__delimiter1,
    .menu__delimiter2,
    .menu__button1,
    .menu__button2,
    .menu__button3,
    .menu__button4,
    .nav__a3,
    .section__p2 {
        display: none;
    }
}