@media (min-width: 320px) {
    .header1 {
        display: flex;
        height: 88px;
        width: 100%;
        background-color: white;
    }

    .header_button1 {
       align-self: flex-start;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border-color: #ff3e79;
        background: url("img/burger.svg") #ff3e79 no-repeat center;
        margin: 24px 0px 24px 16px;

    }

    .header_logo {
        align-self: flex-start;
        width: 96px;
        height: 50px;
        margin: 18px 0px 18px 15px;
    }
    .header_delimiter1 {
        display: none;
    }
    .header_button2 {
       display: none;


    }
    .header_button3 {
        display: none;


    }
    .header_button4 {
        display: none;


    }
    .header_delimiter2{
        width: 2px;
        height: 32px;
        margin: 28px 20px 28px auto;
    }

    .header_button5 {
        align-self: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border-color: #ff3e79;
        background: url("img/checkstatus.svg") no-repeat center;
        margin: 24px 8px 24px 0px;


    }

    .header_button6 {
        align-self: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border-color: #ff3e79;
        background: url("img/repair.svg") #ff3e79 no-repeat center;
        margin: 24px 16px 24px 0px;


    }


    .body {
        width: 100%;
        height: 100%;
        background-color: #F8F8F8;
        margin: 0px;
    }
/*.div {*/
/*    display: flex;*/
/*    flex-direction: row;*/

/*}*/
    .name_h1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: 'TT Lakes';
        height: 40px;

    }
    .name_h1::before {
        content: url("img/highlight (1).svg");
        margin-right: 12px ;
        margin-left: 0px;
    }
    .nav {

        display: flex;
        overflow-x: scroll;
    }
.nav_a1 {
    display: none;
}
    .nav_a2 {
        display: flex;
        font-family: 'TT Lakes';
        width: 288px;
        height: 24px;
        border: 2px solid #B8FFEC;
        background: white;
        color:  #7E7E82;
        white-space: nowrap;
        text-decoration: none;
        border-radius: 7px;
        margin: 0px 16px 0px 16px;
        padding: 8px 9px 8px 16px;
    }

    .nav_a3,
    .nav_a4,
    .nav_a5,
    .nav_a6,
    .nav_a7{
        font-family: 'TT Lakes';
        display: flex;
        width: auto;
        white-space: nowrap;
        color: #7E7E82;
        text-decoration: none;
        /*border-radius: 7px;*/
        margin: 0px auto 0px 0px;
        padding: 8px 9px 8px 16px;
    }

    .section_p1 {
        display: flex;
        margin: 24px 16px 0px 16px;
        font-family: 'TT Lakes';
        width: auto;
        height: auto;
    }
    .section_p2 {
       display: none;
    }
    .section_p3 {
        display: none;
    }
    .onwards_a {
        display: flex;
        text-decoration: none;
        color: black;
        margin: 16px 172px 0px 24px;
        white-space: nowrap;
        font-family: 'TT Lakes';
    }
    .onwards_a::before {
        content: url("img/icon.svg");
        margin-right: 16px ;
        margin-left: 0px;
    }
    .img {
        width: 320px;
        height: 176px;
        margin: 16px 0px 27px 0px ;
    }
    .header_a1,
    .header_a2 {
        display: none;
    }
}
@media (min-width: 768px) {
    .header1 {
        display: flex;
        height: 88px;
        width: 100%;
        background-color: white;
    }

    .header_delimiter1 {
display: flex;
        width: 2px;
        height: 32px;
        margin: 28px 20px 28px 20px;
    }

    .header_logo {
        align-self: flex-start;
        width: 96px;
        height: 50px;
        margin: 18px 0px 18px 0px;
    }
    .header_button2 {
        display: flex;
       justify-content: flex-end;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border-color: #ff3e79;
        background: url("img/call.svg") #ff3e79 no-repeat center;
        margin: 24px 16px 24px auto;
    }

    .header_button3 {
        display: flex;
        justify-content: flex-end;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-color: #ff3e79;
    background: url("img/chat.svg") #ff3e79 no-repeat center;
    margin: 24px 16px 24px 0px;
}

     .header_button4 {
         display: flex;
         justify-content: flex-end;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          border-color: #ff3e79;
          background: url("img/profile.svg") #ff3e79 no-repeat center;
          margin: 24px 16px 24px 0px;


      }
    .header_delimiter2{
        width: 2px;
        height: 32px;
        margin: 28px 20px 28px 0px;
    }
    .section_p2 {
        display: flex;
        margin: 24px 16px 0px 16px;
        font-family: 'TT Lakes';
        width: auto;
        height: auto;

    }
    .img {
        width: 320px;
        height: 176px;
        margin: 16px 0px 27px 0px ;
        border-radius: 5px;
    }
    .section {
        display: flex;
        flex-direction: row;
    }
    .name_h1::before {

        margin-right: 20px ;
        margin-left: 0px;
    }
}

@media (min-width: 1120px) {
    .header_button1 {
        display: none;

    }
.nav_a2 {
    display: none;
}
    .nav_a1 {
        display: flex;
        font-family: 'TT Lakes';
        width: auto;
        height: 24px;
        border: 2px solid #B8FFEC;
        background: white;
        color:  #7E7E82;
        white-space: nowrap;
        text-decoration: none;
        border-radius: 7px;
        margin: 0px 16px 0px 32px;
        padding: 8px 21px 7px 22px;
    }
    .nav_a3 {
        display: none;
    }
    .nav_a2 {
        border: none;
        background: none;
        font-family: 'TT Lakes';
        display: flex;
        width: auto;
        white-space: nowrap;
        color: #7E7E82;
        text-decoration: none;
        border-radius: 7px;
        margin: 0px 16px 0px 0px;
        padding: 8px 9px 8px 16px;
    }
    .nav {

        display: flex;
        flex-wrap: wrap;
    justify-content: space-between;
    }
    .nav_a7 {
        padding: 0px 0px 0px 0px;
        margin: 14px auto 19px 54px;
    }
    .header_logo,
    .header_delimiter1,
    .header_delimiter2,
    .header_button2,
    .header_button3,
    .header_button4{
        display: none;
    }
.header_button5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 42px 0px 10px 0px;
}
.header_button6 {
    margin: 42px 32px 10px 0px;
}
.header1 {
    background-color: #F8F8F8 ;
}
.name_h1 {
    margin: 42px 32px 19px 0px;
}
.header {
    display: flex;
    flex-direction: row-reverse;
}
    .nav {

        display: flex;
        overflow-x: scroll;
        margin-top: 0px;
    }
    .name {
        display: flex;
        flex-direction: column;
    }
    .name_h1 {
        white-space: nowrap;
        margin: 42px 0px 9px 0px ;
        display: flex;
        width: auto;
    /*    flex-direction: row;*/
    /*    justify-content: flex-start;*/
    }
    .name_h1::before {
        content: url("img/highlight (2).svg");
        margin-right: 30px ;
        /*margin-left: 0px;*/
    }
    .header_a1 {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        font-family: 'TT Lakes';
        width: auto;
        white-space: nowrap;
        color: black;
        text-decoration: none;

        margin: 50px 8px 27px auto;
    }
    .header_a2 {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        font-family: 'TT Lakes';
        width: auto;
        white-space: nowrap;
        color: black;
        text-decoration: none;
        margin: 50px 9px 27px 32px;
    }
    .section_p2 {
        display: none;
    }
    .section_p3 {
        display: flex;
        margin: 24px 16px 0px 16px;
        font-family: 'TT Lakes';
        width: auto;
        height: auto;
    }
    .img{
      width: 531px;
        height: 307px;
        border-radius: 5px;
        margin: auto 28px 49px 36px;
    }
}