.link-onwards {
  @media (min-width: 320px) {
    font-weight: 500;
  }

  &::before {
    @media (min-width: 320px) {
      //content: url("../block7/src/img/icon.svg");
      margin-right: 16px;
      margin-left: 0;
    }
  }

  &--type--show {
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: block;
      margin-top: 20px;
      margin-left: 32px;
    }
  }

  &--type--text {
    @media (min-width: 320px) {
      display: block;
      margin: 10px auto 10px 16px;
    }
  }
}
