.block-name {
  @media (min-width: 320px) {
    display: flex;
    height: 80px;
    background: linear-gradient(90deg, $grey 1.39%, $white 100%);
    border-top: 1px solid $turquoise;
  }
  &--text {
    @media (min-width: 320px) {
      margin-block-start: 0;
      margin-block-end: 0;
      color: $dark-grey;
      align-self: center;
      margin-left: 20px;
      text-transform: uppercase;
    }
  }
}