.body {
  @media (min-width: 320px) {
    margin: 0;
    background-color: $grey;
  }
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    background-color: $white;
    height: 100%;
  }

  &__content {
    @media (min-width: 1440px) {
      width: auto;
      margin-left: 320px;
      background-color: $grey;
    }

  }

  &__content-menu {
    @media (min-width: 320px) {
      width: 320px;
      box-shadow: 0 10px 90px 2px $dark-grey;
      position: absolute;
      overflow: scroll;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $white;
    }
    @media (min-width: 1440px) {
      box-shadow: none;
    }
  }

  &__button-search {
    @media (min-width: 320px) {
      margin: 23px 24px auto auto;
      background: url("../img/icon-search.svg") no-repeat center;
    }
  }

  &__header {
    @media (min-width: 320px) {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 88px;
      background-color: $white;
    }
    @media (min-width: 1440px) {
      background-color: $grey;
    }
  }

  &__button-menu {
    @media (min-width: 320px) {
      background-image: url("../img/burger.svg");
      align-self: flex-start;
      margin: 24px 16px 0 16px;
    }
    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__logo-menu {
    @media (min-width: 320px) {
      margin: 18px auto 0 0;
    }
    @media (min-width: 1440px) {
      margin-top: 30px;
      margin-left: 22px;
    }
  }

  &__logo {
    @media (min-width: 320px) {
      margin: 18px auto 0 0;
    }
    @media (min-width: 768px) {
      margin: 18px auto 0 0;
    }
    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__button-check-status {
    @media (min-width: 320px) {
      background-image: url("../img/checkstatus.svg");
      margin: 24px 16px 0 0;
    }
    @media (min-width: 1440px) {
      margin: 55px 16px 0 0;
    }
  }

  &__button-repair::before {
    @media (min-width: 320px) {
      position: relative;
      content: url("../img/divider.svg");
      width: 2px;
      height: 32px;
      right: 20px;
      top: 3px;
    }
    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__button-repair {
    @media (min-width: 320px) {
      background-image: url("../img/repair.svg");
      margin: 24px 16px 0 0;
    }
    @media (min-width: 1440px) {
      margin: 55px 16px 0 0;
    }
  }


  &__footer {
    @media (min-width: 320px) {
      width: 196px;
      height: 164px;
      display: flex;
      flex-wrap: wrap;
      margin: 268px 100px auto 24px;
    }
  }

  &__link-application {
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 1440px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 55px 8px 0 auto;
      font-weight: 500;
    }
  }

  &__link-status {
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 1440px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 55px 8px 0 10px;
      font-weight: 500;
    }
  }

  &__ul {
    @media (min-width: 320px) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style-type: none;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    @media (min-width: 768px) {
      flex-flow: row wrap;
      justify-content: space-evenly;
      height: 190px;
    }

  }

  &__content-types {
    @media (min-width: 320px) {
      height: 320px;
    }
    @media (min-width: 768px) {
      height: auto;
    }
  }

  &__price-explanation {
    @media (min-width: 320px) {
      margin: 44px 16px auto 14px;
    }
    @media (min-width: 768px) {
      margin-top: 24px;
    }
  }

  &__offer {
    @media (min-width: 320px) {
      display: flex;
      white-space: normal;
      margin-left: 14px;
      margin-top: 16px;
      margin-bottom: 10px;
      font-weight: 500;
    }
  }

  &__offer::after {
    @media (min-width: 320px) {
      content: url("../img/further.svg");
      margin-left: 5px;
    }
  }

  &__button-call {
    @media (min-width: 320px) {
      display: none;
      background-image: url("../img/icon-call.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin: 24px 16px 0 0;
    }
    @media (min-width: 768px) {
      display: block;

    }
    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__button-chat {
    @media (min-width: 320px) {
      display: none;
      background-image: url("../img/icon-chat.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin: 24px 16px 0 0;
    }
    @media (min-width: 768px) {
      display: block;

    }
    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__content-brands {
    @media (min-width: 320px) {
      height: 219px;
    }
    @media (min-width: 768px) {
      height: auto;
      display: flex;
      flex-direction: column;
    }

  }

  &__button-profile {
    @media (min-width: 320px) {
      display: none;
      background-image: url("../img/icon-profile.svg");
      background-repeat: no-repeat;
      background-position: center;
      margin: 24px 34px 0 0;
    }
    @media (min-width: 768px) {
      display: flex;

    }
    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__ul--type--services {
    @media (min-width: 768px) {
      height: auto;
      width: auto;
      margin-right: 16px;
      margin-left: 16px;
    }

  }
  &__button-closed--type--modal {
    @media (min-width: 320px) {
      margin: 20px auto 2px 8px;
      height: 40px;
    }
  }

  &__button-call--type--menu-fixed {
    @media (min-width: 320px) {
      display: flex;
    }
    @media (min-width: 1440px) {
      display: flex;
    }
  }
 &__button-profile--type--menu-fixed{
   @media (min-width: 320px) {
     display: flex;
   }
 }
  &__header--type--menu {
    @media (min-width: 1440px) {
      background-color: $white;
    }

  }
}

