@media (min-width: 320px) {
    .body {
        margin: 0;
        background-color: #F8F8F8;
    }

    .body__content-menu {
        width: 320px;
        box-shadow: 0 10px 90px 2px #797d7e;
        position: absolute;
        overflow: scroll;
        top: 0;
        left: 0;
        height: 100%;
        background-color: white;
    }

    .body__button-search {
        margin: 23px 24px auto auto;
        background: url("../img/icon-search.svg") no-repeat center;
    }

    .body__header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 88px;
        background-color: white;
    }
    .body__button-menu {
        background-image: url("../img/burger.svg");
        align-self: flex-start;
        margin: 24px 16px 0 16px;
    }
    .body__logo,
    .body__logo-menu {
        margin: 18px auto 0 0;
    }
    .body__button-check-status {
        background-image: url("../img/checkstatus.svg");
        margin: 24px 16px 0 0;
    }

    .body__button-repair::before {
        position: relative;
        content: url("../img/divider.svg");
        width: 2px;
        height: 32px;
        right: 20px;
        top: 3px;
    }

    .body__button-repair {
        background-image: url("../img/repair.svg");
        margin: 24px 16px 0 0;
    }
    .body__button-menu-call {
        margin-right: 16px;
        background-image: url("../img/icon-call.svg");
    }

    .body__button-menu-chat {
        margin-right: 16px;
        background-image: url("../img/icon-chat.svg");
    }

    .body__button-menu-profile {
        margin: 24px 16px 0 0;
        background-image: url("../img/icon-profile.svg");
    }

    .body__footer {
        width: 196px;
        height: 164px;
        display: flex;
        flex-wrap: wrap;
        margin: 268px 100px auto 24px;
    }
    .body__button-call,
    .body__button-chat,
    .body__button-profile,
    .body__link-application,
    .body__link-status{
        display: none;
    }
    .body__ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style-type: none;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .body__content-types {
        height: 320px;
    }
    .body__price-explanation {
        margin: 44px 16px auto 16px;
    }

    .body__offer {
        display: flex;
        white-space: normal;
        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .body__offer::after {
        content: url("../img/further.svg");
        margin-left: 5px;
    }
    .body__button-closed--type--modal {
        margin: 20px auto 2px 8px;
        height: 40px;
    }
    .body__button-call--type--menu-fixed{
        display: flex;
    }
    .body__button-call {
        background-image: url("../img/icon-call.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin: 24px 16px 0 0;
    }

    .body__button-chat {
        background-image: url("../img/icon-chat.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin: 24px 16px 0 0;
    }
}

@media (min-width: 768px) {
    .body__content-types {
        height: auto;

    }
    .body__content-brands {
        height: auto;
    }
    .body__ul {
        flex-flow: row wrap;
        justify-content: space-evenly;
        height: 190px;
    }
    .body__content-brands {
        display: flex;
        flex-direction: column;
    }
    .body__logo {
        margin: 18px auto 0 0;
    }

    .body__button-call {
        display: flex;
        background-image: url("../img/icon-call.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin: 24px 16px 0 0;
    }

    .body__button-chat {
        display: flex;
        background-image: url("../img/icon-chat.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin: 24px 16px 0 0;
    }

    .body__button-profile {
        display: flex;
        background-image: url("../img/icon-profile.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin: 24px 34px 0 0;
    }
    .body__price-explanation {
        margin-top: 24px;
    }
    .body__ul--type--services {
        height: auto;
        width: auto;
        margin-right: 16px;
        margin-left: 16px;
    }
}

@media (min-width: 1440px) {
    .body{
        display: flex;
        flex-direction: row;
        background-color: white;
        height: 100%;
    }
    .body__logo-menu{
        margin-top: 30px;
        margin-left: 22px;
    }

    .body__content-menu{
        box-shadow: none;
        background-color: white;

    }
    .body__content{
        width: auto;
        margin-left: 320px;
        background-color: #F8F8F8;
    }
    .body__header {
        background-color: #F8F8F8;
    }

    .body__header--type--menu {
        background-color: white;
    }

    .body__link-application {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px 8px 0 auto;
        font-weight: 500;
    }

    .body__link-status {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 55px 8px 0 10px;
        font-weight: 500;
    }
    .body__button-check-status {
        margin: 55px 16px 0 0;
    }

    .body__button-repair {
        margin: 55px 16px 0 0;
    }

    .card__content--type--services {
        width: 1056px;

    }
    .body__button-check-status {
        margin: 55px 16px 0 0;
    }

    .body__button-repair {
        margin: 55px 16px 0 0;
    }
    .body__button-menu,
    .body__logo,
    .body__button-call,
    .body__button-chat,
    .body__button-profile,
    .body__button-repair::before{
        display: none;
    }
    .body__button-call--type--menu-fixed{
        display:flex;
    }
    /*.body__content-brands {*/
    /*    height: 230px;*/
    /*}*/
}