.button {
  @media (min-width: 320px) {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: $pink;
    border: 0 solid $pink;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;

    &:hover {
      @media (min-width: 320px) {
        background-color: rgba($dark-grey, 0.82);
        transition: background-color 400ms linear 0s;
      }
    }
  }
}