@media (min-width: 320px) {
    .button-closed {
        background-image: url("../img/icon-closed.svg");
        align-self: flex-start;
        margin: 24px 16px 0 16px;
    }
    .button-closed--type--modal{
        display: flex;
        z-index: 8;
    }
}



@media (min-width: 768px) {
    .button-closed--type--modal{
        position: absolute;
        right: 320px;
        margin-top: 15px;

    }
}
@media (min-width: 1440px) {
    .button-closed{
        display: none;
    }
    .button-closed--type--modal {
        display: block;
        z-index: 100;
        position: absolute;
        right: 480px;
    }
}