
  .button-closed {
    @media (min-width: 320px) {
    background-image: url("../img/icon-closed.svg");
    align-self: flex-start;
    margin: 24px 16px 0 16px;
      @media (min-width: 1440px) {
        display: none;
      }
  }
  &--type--modal{
    @media (min-width: 320px) {
      display: flex;
      z-index: 8;
    }
    @media (min-width: 768px) {
      position: absolute;
      right: 320px;
      margin-top: 15px;
    }
    @media (min-width: 1440px) {
      display: block;
      z-index: 100;
      position: absolute;
      right: 480px;
    }
  }
}
