.card {
  @media (min-width: 768px) {
    width: auto;
    height: auto;
  }

  &__content {
    @media (min-width: 320px) {
      display: flex;
      align-items: flex-end;
      width: 224px;
      height: 72px;
      background-color: $white;
      border-radius: 6px;
      border: 1px solid $light-gray;
      margin: 16px 8px 0 16px;
    }
    @media (min-width: 1440px) {
      width: 240px;
    }
  }

  &__image {
    @media (min-width: 320px) {
      align-self: center;
      margin: 20px auto 20px 16px;
    }
  }

  &__button-onwards {
    @media (min-width: 320px) {
      margin: auto 16px 16px auto;
      background-color: $white;
      border: 2px solid $pink;
      background-image: url("../img/arrow.svg");
    }
  }

  &__content--type--types-device {
    @media (min-width: 320px) {
      height: 160px;
    }

  }

  &__text {
    @media (min-width: 320px) {
      margin: 16px auto 120px 16px;
    }
  }

  &__content--type--services {
    @media (min-width: 320px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 16px;
      height: 200px;
    }
    @media (min-width: 768px) {
      width: 100%;
      height: 64px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $light-gray;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      border-radius: 0;
    }
    @media (min-width: 1440px) {
      width: 1056px;
    }
  }

  &__text--services {
    @media (min-width: 320px) {
      display: flex;
      margin: 0;
      font-size: small;
      justify-content: space-between;
      align-items: baseline;
    }
    @media (min-width: 768px) {
      width: 250px;
      margin-right: auto;
    }
  }

  &__text--type--services-characteristic {
    @media (min-width: 320px) {
      color: $dark-grey;
      margin-top: 16px;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }

  &--services-characteristic {
    @media (min-width: 320px) {
      display: none;
      width: 0;
    }
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      background-color: $grey;
      color: $dark-grey;
    }
  }

  &__text--services-description {
    @media (min-width: 768px) {
      margin-right: auto;
    }

  }

  &__text--services-price {
    @media (min-width: 768px) {
      width: 50px;
    }
  }

  &__text--type--services-term {
    @media (min-width: 768px) {
      margin-right: 0;
    }
    @media (min-width: 1440px) {
      width: 370px;
      margin-right: 10px;
    }
  }

  &--type--table {
    @media (min-width: 768px) {
      width: 100%;
      margin-right: 16px;
      margin-left: 16px;
    }
  }
}

