.footer {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    color: $dark-grey;
    background-color: $grey;
    border-top: 1px solid $turquoise;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    height: 105px;
  }

  &__text {
    @media (min-width: 320px) {
      align-items: center;
      margin-left: 14px;
      font-size: 14px;
    }
  }

}

