.language {
  &__link {
    @media (min-width: 320px) {
      color:$black;
    }
  }
   &__link--russian--active {
     @media (min-width: 320px) {
       margin-right: 7px;
       color: $dark-grey;
     }
   }

    &__link--english {
      @media (min-width: 320px) {
      margin-right: 7px;
    }
  }
}