@media (min-width: 320px) {
    .link-onwards {
        font-weight: 500;
    }

    .link-onwards::before {
       content: url("../img/icon.svg");
        margin-right: 16px;
        margin-left: 0;
    }
    .link-onwards--type--show {
        display: none;
    }
    .link-onwards--type--text{
        display: block;
        margin: 10px auto 10px 16px;
    }
}

@media (min-width: 768px) {
    .link-onwards--type--show {
        display: block;
        margin-top: 20px;
        margin-left: 32px;
    }
}