.body {
  @media (min-width: 320px) {
    margin: 0;
    background-color: $grey;
    overflow-x: auto;
  }
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    background-color: $white;
    height: 100%;
  }

  &__content {
    @media (min-width: 1440px) {
      width: auto;
      margin-left: 320px;
      background-color: $grey;
      overflow-y: hidden;
    }
  }
}
