.navigation {
  &__ul {
    @media (min-width: 320px) {
      display: flex;
      margin-top: 20px;
      position: relative;
      top: 20px;
      overflow-x: scroll;
      list-style-type: none;
      padding-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  &__ul--type--horizontal {
    @media (min-width: 320px) {
      display: flex;
      flex-direction: row;
      padding: 15px;
    }
    @media (min-width: 1440px) {
      flex-wrap: wrap;
      height: 96px;
    }
  }

  &__ul--type--vertical {
    @media (min-width: 320px) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 222px;
      height: 450px;
      padding: 15px;
    }
  }

  &__link {
    @media (min-width: 320px) {
      display: flex;
      align-self: center;
      text-align: center;
      padding: 10px;
      font-size: 16px;
    }
  }

  &__link--active {
    @media (min-width: 320px) {
      color: $dark-grey;
    }
  }

  &__ul--type--vertical::before {
    @media (min-width: 320px) {
      position: absolute;
      content: url("src/img/highlight (1).svg");
      width: 2px;
      height: 32px;
      left: 0;
      top: 25px;
    }
  }

  &__link--active--border {
    @media (min-width: 320px) {
      border: 2px solid $turquoise;
      border-radius: 7px;
      padding: 10px;
      background-color: $white;
    }

  }
}
